<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header ">
                Iniciar Sesión
            </div>
            <div class="card-body">
                <form (submit)="signIn()">
                    <div class="form-group ">
                        <div class="col-6 mb-2">
                            <label for="">Ingrese su email:</label>
                            <input type="text" [(ngModel)]="jwtoken.email" name="email" class="form-control" placeholder="Email" required autofocus>
                            <label for="">Ingrese su contraseña:</label>
                            <input type="password" [(ngModel)]="jwtoken.password" name="password" class="form-control" placeholder="Password" required>
                        </div>
                        
                        <button class="btn btn-success btn-block ">
                            SignIn
                        </button>
                    </div>
                        
                </form>
            </div>
        </div>
    </div>
</div>
